.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.v{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
height: 20%;
background-color: black;
}
.h{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
height: 100%;
width: 20%;
background-color: black;
}
.c1{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% ,-50%);
width: 35%;
height: 35%;
background-color: black;
border-radius: 50%;
z-index: 10;
}
.c2{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% ,-50%);
width: 60%;
height: 60%;
background-color: white;
border-radius: 50%;
z-index: 5;
}
.c3{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 85%;
height: 85%;
background-color: black;
border-radius: 50%;
z-index: 2;
}

